* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: center;
}

.calculadora {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 130px repeat(6,80px);
    justify-content: center;
    border-radius: 20px;
    padding-top: 30px;
    box-shadow: 15px 10px 0px 5px gray;
}

.calculadora button {
    font-size: 1.5rem;
    background-color: darkgray;
    border-radius: 50%;
    border: 2px #333333 solid;
    margin:5px;
    cursor: pointer;
    padding: 10%;
    border-radius: 50px;
    border: none;
    box-shadow: 5px 5px 10px -3px white;
    text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.calculadora button:hover {
    background-color: silver;
}

.calculadora button:active{
    background-color: white;
}

.display {
    height: 120px;
    background-color: #343940;
    opacity: .7;
    grid-column: 1/-1;
    border: 2px #333333 solid;
    text-align: end;
    padding: 10px 0;
    display: grid;
    border-radius: 20px;
    padding-top: 20px;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #bee7dd1f;
}

.span2 {
    grid-column: span 2;
}

.valor-superior {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 30px;

}

.valor-inferior {
    color: white;
    font-size: 2rem;
}